
<h1> <%= "Welcome #{@email}" %></h1>
<h2> Links </h2>

<ul id='links'>
  <% links.each do |link| %>
    <li>
      <span class="title"><b>Title:</b> <%= link.title %></span>
    <br>
      <span class="url"><b>URL:</b> <%= link.url   %></span>
    <br>
      <span class="tag"><b>Tags:</b> <%= link.tags.map(&:name).join(', ') %></span>
    </li>
  <% end %>
</ul>

<h6>1 User </h6>
