<h1> Links </h1>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      <b>Title:</b> <%= link.title %>
    <br>
      <b>URL:</b>   <%= link.url   %>
    </li>
  <% end %>
</ul>

<p> <%= @title %> : <%= @url %> </p>
