<h1> Links </h1>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      <b>Title:</b> <%= link.title %>
    <br>
      <b>URL:</b>   <%= link.url   %>
    <br>
      <b>Tags:</b>   <%= link.tags.map(&:name)   %>
    </li>
  <% end %>
</ul>
