<form action='/sign_up' method='post'>
  <input type='text' name='email' placeholder="email address">
  <input type='text' name='password' placeholder='password'>
  <input type='submit' value='Submit'>
</form>
